<h2>Default Roles</h2>
Default roles cannot be modified.

<div class="tb-container">
    <table>
        <tr class="tb-header">
            <td>Role ID</td>
            <td>Role Name</td>
            <td>Number of Users</td>
            <td></td>
        </tr>

        {{#each adminRoles}}
            <tr class="tb-gray-row">
                <td>{{role_id}}</td>
                <td>{{role_name}}</td>
                <td>{{user_count}}</td>
                <td></td>
            </tr>
        {{/each}}

        {{#each gcRoles}}
            <tr class="tb-gray-row">
                <td>{{role_id}}</td>
                <td>{{role_name}}</td>
                <td>{{user_count}}</td>
                <td>
                    <button class="btn-green"><i class="fa-solid fa-user"></i>&nbsp; Manage Users</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<h2>Client Roles</h2>
User roles assigned to clients.

<div class="tb-container">
    <table>
        <tr class="tb-header">
            <td>
                <button class="btn-green">+ Create New Role</button>
            </td>
            <td>Role ID</td>
            <td>Role Name</td>
            <td>Number of Users</td>
            <td></td>
        </tr>
        {{#each clientRoles}}
            <tr class="tb-gray-row">
                <td>
                    <button class="tb-button-action edit"><i class="fa-solid fa-pencil"></i></button>
                    <button class="tb-button-action delete"><i class="fa-solid fa-trash"></i></button>
                </td>
                <td>{{role_id}}</td>
                <td>{{role_name}}</td>
                <td>{{user_count}}</td>
                <td>
                    <button class="btn-green"><i class="fa-solid fa-user"></i>&nbsp; Manage Users</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>