<div class="tb-container">
    <table class="user-profile">
        {{#each user}}
            <tr>
                <td class="label">User ID</td>
                <td>{{user_id}}</td>
            </tr>
            <tr>
                <td class="label">Role</td>
                <td>{{role_name}}</td>
            </tr>
            <tr>
                <td class="label">Full Name</td>
                <td>{{uppercase lastname}}, {{firstname}}</td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td class="label">Contact No.</td>
                <td>
                    {{#check contact_no null}}
                        {{contact_no}}
                    {{/check}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>